<div class="container">
  <form method="post">
    <input type="text" name="inputuser" id="inputuser" placeholder="user">
    <input type="password" name="inputpassword" id="inputpassword" placeholder="password">
    <input type="submit" value="submit" id="submit-btn" >
  </form>
</div>

<style>
  body {
   display: flex;
   justify-content: center;
   background: #16253d;
  }

  .container {
    border-radius: 10px;
    position: absolute;
    top: 30vh;
    background: #000814;
    padding: 5vh;
    height: 25vh; 
  }

  form {
    display: flex;
    flex-direction: column;

  } input {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 5px;

    margin: 5px;
    text-align: center;
  } 
  #submit-btn {
    margin-top: 5vh;
  }

</style>
